.main-conatainer {
    display: grid;
    grid-template-areas: 
        "widget"
        "statistic"
        "operation";
    grid-template-rows: 10vw 20vw max-content;
    grid-template-columns: 1fr;
    row-gap: 1vw;
    transition: filter 0.3s ease;
}

/*=================================================MAIN WIDGETS TOP====================================*/
.main-widgets {
    display: grid;
    grid-area: widget;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;
    height: 100%;
}

.widget {
    display: grid;
    grid-template-areas: 
        "top" 
        "middle"
        "bottom";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(2, 2fr);
    row-gap: 0.5vw;
    padding: 1vw;
    height: 100%;
}

.widget:hover .widget-title {
    color: #201f23;
    padding-left: 10px;
    transition: 500ms;
}

.widget-title {
    grid-area: top;
    color: #9d9ea2;
    font-size: 1.1vw;
    font-weight: 500;
    transition: 500ms;
}

.widget-title svg {
    margin-right: 10px;
}

.widget-middle {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    grid-area: middle;
    font-size: 1.6vw;
    font-weight: 600;
}

.widget-circle {
    grid-area: middle;
    width: fit-content;
    height: 1.4vw;
    border-radius: 20px;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 600;
    text-align: center;
    padding: 0.3vw;
}

.widget-secondary-amount {
    grid-area: bottom;
    font-size: 0.8vw;
}
/*=================================================MAIN STATISTIC MIDDLE====================================*/
.main-statistic {
    display: grid;
    grid-area: statistic;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 1vw;
}

.statistics {
    padding: 1.8vw 1.5vw;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "canvas total"; 
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#curveTotalByMonth {
    grid-area: canvas;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
}

.total {
    grid-area: total;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "title"
        "sub-container";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) ;
    justify-items: center;
}
.total-title {
    display: block;
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.total-subcontainer {
    grid-area: sub-container;
    width: 90%;
    display: grid;
    grid-template-areas: 
        "subtitle"
        "amount";
    grid-template-rows: 1fr 1fr;
}

.total-subcontainer span {
    color: #201f23;
}

.total-subcontainer:hover {
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    border-radius: 20px;
    cursor: pointer;
    
}

.total-subtitle {
    display: block;
    grid-area: subtitle;
    justify-self: center;
    align-self: end;
    font-size: 1.1vw;
    font-weight: 500;
}

.total-amount {
    display: block;
    grid-area: amount;
    justify-self: center;
    align-self: start;
    font-size: 1.4vw;
    font-weight: 600;
}
/*=================================================MAIN ACCOUNTS MIDDLE====================================*/
.accounts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 7.5vw;
    gap: 1vw;
    padding: 1.8vw 1.5vw;
    overflow-y: scroll;
    scrollbar-width: none;
}

.account {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    border-radius: 20px;
    padding: 0.75vw;
    transition: 500ms;
    cursor: pointer;
    /* overflow: hidden; */
}

.account:hover {
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    transition: 500ms;
}

.account-img {
    width: 2vw;
    height: 2vw;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-img>svg {
    width: 60%;
    height: 60%;
}

.actions {
    display: none;
}

.account:hover .actions {
    display: block;
    position: absolute;
    top: 0.5vw;
    right: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    color: #9d9ea2;
    font-size: 18px;
    cursor: pointer;
}

.account:hover .account-title {
    color: #201f23;
    transition: 500ms;
}
.account:hover .account-amount {
    font-size: 1.35vw;
    transition: 500ms;
}

.account-title {
    margin: 0.8vw 0;
    color: #9d9ea2;
    font-size: 0.8vw;
    transition: 300ms;
}

.account-amount {
    font-size: 1.2vw;
    font-weight: 700;
    transition: 500ms;
    letter-spacing: 1px;
}

.add-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    border-radius: 20px;
    padding: 10px;
    transition: 500ms;
    cursor: pointer;
}
.add-account:hover {
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    transition: 500ms;
}
.add-account:hover div {
    transform: rotate(90deg);
    transition: 200ms;
}

.add-account:hover span {
    color: #201f23;
    transition: 300ms;
} 

.add-account div {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.5vw;
    text-align: center;
    padding:  0;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.add-account span {
    color: #9d9ea2;
    font-size: 1vw;
    font-weight: 700;
    margin-top: 5px;
    justify-self: end;
    transition: 200ms;
}

.selected {
    border: solid 2px #d0d0d0;
    box-shadow: #d0d0d0 3px 3px 15px 3px;
}

.selected .account-title {
    color: #201f23;
    transition: 500ms;
}
.selected .account-amount {
    font-size: 1.35vw;
    transition: 500ms;
}

.account-menu {
    position: absolute;
    right: 15%;
    top: 0;
    font-size: 14px;
    padding-top: 10px;
    visibility: hidden; /* Keeps it hidden initially */
    opacity: 0; /* Makes it invisible */
    transform: translateX(1.5vw); /* Starts off-screen */
    transition: opacity 300ms ease, transform 300ms ease; /* Animate opacity and transform */
}

/* When visible, reset the opacity and position */
.account-menu:not(.hidden) {
    visibility: visible; /* Makes it visible */
    opacity: 1; /* Fully opaque */
    transform: translateX(2vw); /* Move to original position */
}

.account-menu_list {
    display: flex;
}

.context-menu_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-bottom: 5px;
    color: #fff;
    transition: 500ms;
    margin-right: 0.5vw;
}

.account-menu_list > li:first-child .context-menu_circle {
    background-color: #ee3939;
    opacity: 70%;
}

.account-menu_list > li:last-child .context-menu_circle {
    background-color: #377cf6;
    opacity: 70%;
}

.account-menu_list > li .context-menu_circle:hover {
    opacity: 100%;
    filter: brightness(120%);
    cursor: pointer;
}

/*=================================================MODAL ACCOUNT======================================*/
.overlay {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 85%;
    height: 80%;
    backdrop-filter: blur(1px);
}

.modal-account {
    position: absolute;
    top: 5%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.form-account {
    display: grid;
    row-gap: 50px;
    grid-template-areas: 
    "title"
    "body"
    "buttons";
    position: relative;
    width: 60%;
    min-height: 350px;
    max-height: 600px;
    padding: 3% 5%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: #d0d0d0 3px 3px 15px 3px;
}

.form-body {
    width: 100%;
    position: relative;
    display: grid;
    grid-area: body;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 150px;
    max-height: max-content;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas:
    "type type"
    "name name"
    "amount color";
}

.required::after {
    content: '*';
    margin-left: 5px;
    color: #ee3939;
    font-weight: 700;
    font-size: 1.25em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.form-label {
    float: left; 
    width: 30%; 
    font-weight: 600;
}

.form-input, .form-select {
    width: 65%;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
}

.form-select {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/caret-down-light.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 1%) center;
}

.form-title {
    display: block;
    font-size: 2vw;
    grid-area: title;
}

.acc-type {
    grid-area: type;
    margin-bottom: 20px;
}

.acc-name {
    grid-area: name;
    margin-bottom: 20px;
}

.acc-color {
    grid-area: color;
}

.acc-color label{
    width: 70%;
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 35px;
    height: 40px;
    padding: 0;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
}
input[type=color]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
input[type=color]::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

.acc-amount {
    grid-area: amount;
}

.acc-amount label {
    width: 50%;
}

.acc-amount input {
    width: 50%;
}

.form-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.form-btn{
    min-width: 140px;
    max-width: 30%;
    height: 100%;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    background-color: #fff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.btn-annul {
    background-color: #377cf6;
    opacity: 80%;
}
.btn-annul:hover {
    opacity: 100%;
    transition: 500ms;
}

.btn-submit {
    background-color: #16a18c;
    opacity: 80%;
}

.btn-submit:hover {
    opacity: 100%;
    transition: 500ms;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.modal-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #9d9ea2;
}

.modal-close:hover {
    background-color: #377cf6;
    color: #fff;
    cursor: pointer;
}

/*=================================================MAIN OPERATIONS====================================*/
.operations {
    width: 100%;
    padding: 1.8vw 1.5vw;
    display: grid;
    grid-template-areas: 
        "title"
        "operations";
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    row-gap: 1.5vw;
}

.operations-title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.operations-title h2 {
    margin-left: 2%;
    font-weight: 700;
}

.operation-add {
    width: 130px;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.operation-add:hover div {
    transform: rotate(90deg);
    transition: 300ms;
}

.operation-add div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #377cf6;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operations-list {
    grid-area: operations;
}

.operation-date {
    padding: 0.5vw;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: 500ms;
}

.operation-date:hover {
    transition: 500ms;
}

.operation-date h3 {
    padding-left: 1vw;
    margin-bottom: 10px;
}

/*=================================================OPERATION EACH ITEM STYLES====================================*/
.operation-item {   
    padding: 0.5vw;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    "image type account dest_account time amount buttons"
    "image categorie account dest_account time amount buttons";
    grid-template-columns: 10% 15% 15% 15% 10% 15% 20%;
    margin-bottom: 5px;
    transition: 500ms;
}
.operation-item:hover {
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    transition: 500ms;
}

.operation-item_circle {
    grid-area: image;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operation-item_circle svg{
    width: 50%;
    height: 50%;
}

.operation-item_type {
    grid-area: type;
    font-size: 14px;
}

.operation-item_categorie {
    grid-area: categorie;
    color: #201f23;
    padding-right: 5%;
}

.operation-item_account {
    grid-area: account;
    grid-row: span 2;
    font-size: 16px;
}

.operation-item_dest-account {
    grid-area: dest_account;
    grid-row: span 2;
}

.operation-item_time {
    grid-area: time;
    grid-row: span 2;
    text-align: center;
}

.operation-item_amount {
    grid-area: amount;
    grid-row: span 2;
    font-weight: 700;
    text-align: center;
}

.operation-buttons {
    grid-area: buttons;
    grid-row: span 2;
    display: flex;
    justify-content: space-around;
}

.btn-action {
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #9d9ea2;
    cursor: pointer;
    transition: 300ms;
}
.btn-action svg {
    padding-right: 5px;
}
.btn-action:hover {
    transition: 300ms;
}

.btn-modify:hover {
    color: #377cf6;
}

.btn-delete:hover {
    color: #ee3939;
}

.operation-message {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1vw;
}

/*=================================================MODAL OPERATION======================================*/
.overlay {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 85%;
    height: 80%;
    backdrop-filter: blur(1px);
}

.modal-operation {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.form-operation {
    display: grid;
    row-gap: 30px;
    grid-template-areas: 
    "title"
    "body"
    "buttons";
    position: relative;
    width: 70%;
    min-height: 350px;
    max-height: fit-content;
    padding: 3% 5%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: #d0d0d0 3px 3px 15px 3px;
}

.form-op-body {
    width: 100%;
    position: relative;
    display: grid;
    grid-area: body;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-height: max-content;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-areas:
    "type type"
    "date amount"
    "account account"
    "accountTr accountTr"
    "categorie categorie"
    "s-categorie s-categorie";
}

.form-input, .form-select {
    width: 65%;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
}

.form-select {
    cursor: pointer;
}

.form-title {
    display: block;
    font-size: 2vw;
    grid-area: title;
}

fieldset {
    border: none;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
}

.op-type {
    grid-area: type;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

legend {
    display: block;
    width: 100%;
    height: max-content;
    font-size: 1vw;
    font-weight: 600;
    padding-top: 30px;
    text-align: center;
}

.op-type div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
}

.op-type-radio {
    height: 55px;
    display: flex;
    flex-direction: column;
}

.op-type-radio label {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.op-type-radio:nth-of-type(1) label{
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    background-color: #ee3939;
    filter: opacity(70%);
}
.op-type-radio:nth-of-type(1) label:hover{
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    filter: opacity(100%);
}

.op-type-radio:nth-of-type(2) label{
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    background-color: #16a18c;
    filter: opacity(70%);
}
.op-type-radio:nth-of-type(2) label:hover{
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    filter: opacity(100%);
}

.op-type-radio:nth-of-type(3) label{
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    background-color: #377cf6;
    filter: opacity(70%);
}
.op-type-radio:nth-of-type(3) label:hover{
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    filter: opacity(100%);
}

input[type=radio] {
    visibility: hidden;
}

input[type=radio]:checked + label {
    filter: opacity(100%);
    box-shadow: #d0d0d0 3px 3px 15px 3px;
}

.op-amount {
    grid-area: amount;
}

.op-amount label {
    width: 30%;
}

.op-amount input {
    width: 65%;
}

.op-date {
    grid-area: date;
}

.op-date label {
    width: 30%;
}

.op-date input {
    width: 65%;
    cursor: pointer;
}

.op-acc {
    grid-area: account;
}

.op-accTr {
    grid-area: accountTr;
}

.op-cat {
    grid-area: categorie;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.op-s-cat {
    grid-area: s-categorie;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.op-cat-container, .op-s-cat-container {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
}

.op-cat-radio, .op-s-cat-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.op-cat-radio label, .op-s-cat-radio label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 0.5vw;
    cursor: pointer;
}

.op-cat-radio span, .op-s-cat-radio span {
    font-weight: 500;
    text-align: center;
    height: 30px;
}


@media screen and (max-width: 3840px) {
    .context-menu_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.75vw;
        height: 1.75vw;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        margin-bottom: 5px;
        color: #fff;
        transition: 500ms;
        margin-right: 0.5vw;
    }

    .context-menu_circle svg{
        font-size: 0.75vw;
    }

    .operation-date h3 {
        font-size: 0.75vw;
    }

    .operation-add {
        width: 8vw;
        font-size: 0.8vw;
        padding: 0.5vw;
    }
    
    .operation-add div {
        width: 1.25vw;
        height: 1.25vw;
    }

    .operation-item_type {
        font-size: 0.7vw;
    }

    .operation-item_categorie {
        font-size: 0.8vw;
    }
    
    .operation-item_account {
        font-size: 0.8vw;
    }
    
    .operation-item_dest-account {
        font-size: 0.8vw;
    }
    
    .operation-item_time {
        font-size: 0.8vw;
    }
    
    .operation-item_amount {
        font-size: 0.8vw;
    }
    
    .btn-action {
        font-size: 0.8vw;
    }

    .op-cat-radio label, .op-s-cat-radio label {
        width: 2.75vw;
        height: 2.75vw;
        font-size: 1.25vw;
    }

    .op-cat-radio input[type=radio]:checked + label, .op-s-cat-radio input[type=radio]:checked + label {
        border: solid 0.15vw #ffb325;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 0.6vw;
    }
}

@media screen and (max-width: 1600px) {
    .operations {
        row-gap: 2vw;
    }

    .operations-title h2 {
        font-size: 2vw;
    }

    .operation-date h3 {
        font-size: 14px;
    }

    .operation-add {
        width: 10vw;
        font-size: 1vw;
        padding: 0.75vw;
    }
    
    .operation-add div {
        width: 1.4vw;
        height: 1.4vw;
    }

    .operation-item_type {
        font-size: 0.85vw;
    }

    .operation-item_categorie {
        font-size: 1vw;
    }
    
    .operation-item_account {
        font-size: 1vw;
    }
    
    .operation-item_dest-account {
        font-size: 1vw;
    }
    
    .operation-item_time {
        font-size: 1vw;
    }
    
    .operation-item_amount {
        font-size: 1vw;
    }
    
    .btn-action {
        font-size: 1vw;
    }

    .op-cat-radio label, .op-s-cat-radio label {
        width: 3.5vw;
        height: 3.5vw;
        font-size: 1.3vw;
    }

    .op-cat-radio input[type=radio]:checked + label, .op-s-cat-radio input[type=radio]:checked + label {
        border: solid 0.3vw #ffb325;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 0.85vw;
    }

    .context-menu_circle {
        width: 2vw;
        height: 2vw;
    }
}


@media screen and (max-width: 1150px) {
   .main-conatainer {
        display: grid;
        grid-template-areas: 
            "widget"
            "statistic"
            "operation";
        grid-template-rows: 120px 450px max-content;
        grid-template-columns: 1fr;
        row-gap: 1.5vw;
        transition: filter 0.3s ease;
    }

    .main-statistic {
        display: grid;
        grid-area: statistic;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 2fr;
        row-gap: 1.5vw;
        height: 100%
    }

    .accounts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-auto-rows: 95px;
        gap: 1vw;
        padding: 1.8vw 1.5vw;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .account-img {
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .account-img>svg {
        width: 60%;
        height: 60%;
    }
    
    .account:hover .account-amount {
        font-size: 1.65vw;
    }
    
    .account-title {
        font-size: 1vw;
        margin: 0.4vw 0;
    }
    
    .account-amount {
        font-size: 1.5vw;
    }

    .selected .account-amount {
        font-size: 1.65vw;
    }

    .context-menu_circle {
        width: 2.5vw;
        height: 2.5vw;
    }

    .context-menu_circle svg{
        font-size: 1vw;
    }

    .total-title {
        font-size: 1.5vw;
    }

    .total-subtitle {
        font-size: 1.5vw;
    }
    
    .total-amount {
        font-size: 1.75vw;
    }

    .operation-add {
        width: 15vw;
        font-size: 1.5vw;
        padding: 0.9vw;
    }
    
    .operation-add div {
        width: 1.7vw;
        height: 1.7vw;
    }

    .operation-item_circle {
        grid-area: image;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        margin: 0 auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .operation-item_type {
        font-size: 1.25vw;
    }

    .operation-item_categorie {
        font-size: 1.5vw;
    }
    
    .operation-item_account {
        font-size: 1.5vw;
    }
    
    .operation-item_dest-account {
        font-size: 1.5vw;
    }
    
    .operation-item_time {
        font-size: 1.5vw;
    }
    
    .operation-item_amount {
        font-size: 1.5vw;
    }
    
    .btn-action {
        font-size: 1.5vw;
    }

    /* MODAL */
    .form-operation {
        width: 80%;
    }

    legend {
        font-size: 1.5vw;
    }

    .op-cat-radio label, .op-s-cat-radio label {
        width: 5vw;
        height: 5vw;
        font-size: 1.75vw;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 1.25vw;
    }
}

@media screen and (max-width: 950px) {

    .main-conatainer {
        grid-template-rows: 100px 400px max-content;
    }

    .main-statistic {
        display: grid;
        grid-area: statistic;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1.25fr;
        row-gap: 1.5vw;
        height: 100%;
    }

    .widget-title {
        font-size: 1.5vw;
    }
    
    .widget-middle {
        font-size: 1.8vw;
    }
    
    .widget-circle {
        height: 1.8vw;
        font-size: 1vw;
    }
    
    .widget-secondary-amount {
        font-size: 1vw;
    }

    .btn-action span {
        display: none;
    }

    .btn-action {
        font-size: 1.75vw;
    }

    .actions {
        display: block;
        position: absolute;
        top: -5%;
        right: -3%;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border: 1px solid #9d9ea2;
        background-color: transparent;
        color: #000;
        font-size: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .account:hover .actions {
        display: block;
        position: absolute;
        top: -5%;
        right: -3%;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #377cf6;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .context-menu_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vw;
        height: 6vw;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        margin-bottom: 5px;
        color: #fff;
        transition: 500ms;
        margin-right: 1.5vw;
    }

    .context-menu_circle svg{
        font-size: 2.5vw;
    }

    .account-img {
        width: 3vw;
        height: 3vw;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-title {
        margin: 0.8vw 0;
        color: #9d9ea2;
        font-size: 1.3vw;
        transition: 300ms;
    }
    
    .account-amount {
        font-size: 1.8vw;
    }

    .selected .account-amount {
        font-size: 2vw;
        transition: 500ms;
    }

    .account:hover .account-amount {
        font-size: 2vw;
    }

    /* MODALS  */
    .overlay {
        left: 10%;
        width: 90%;
    }

    .form-account {
        width: 80%;
    }

    .form-title {
        display: block;
        font-size: 3vw;
        grid-area: title;
    }

    .form-body {
        grid-template-areas:
        "type type"
        "name name"
        "amount amount"
        "color color";
    }

    .acc-amount label {
        width: 30%;
    }
    
    .acc-amount input {
        width: 65%;
    }

    .form-operation {
        width: 90%;
    }

    legend {
        font-size: 2vw;
    }

    .op-cat-radio label, .op-s-cat-radio label {
        width: 7vw;
        height: 7vw;
        font-size: 2.5vw;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    .main-conatainer {
        display: grid;
        grid-template-areas: 
            "widget"
            "statistic"
            "operation";
        grid-template-rows: 80px 350px max-content;
        grid-template-columns: 1fr;
        row-gap: 1.5vw;
        transition: filter 0.3s ease;
    }

    .accounts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1.3fr));
        grid-auto-rows: 85px;
        gap: 1vw;
        padding: 1.8vw 1.5vw;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .account-img {
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-title {
        margin: 0.8vw 0;
        color: #9d9ea2;
        font-size: 1.5vw;
        transition: 300ms;
    }
    
    .account-amount {
        font-size: 2vw;
    }

    .selected .account-amount {
        font-size: 2.2vw;
        transition: 500ms;
    }

    .account:hover .account-amount {
        font-size: 2.2vw;
    }

    .add-account div {
        width: 3.5vw;
        height: 3.5vw;
        font-size: 1.75vw;
    }
    
    .add-account span {
        font-size: 1.5vw;
    }

    .total-subcontainer:hover {
        border-radius: 15px;
    }

    .total-title {
        font-size: 2vw;
    }

    .total-subtitle {
        font-size: 2vw;
    }
    
    .total-amount {
        font-size: 2.25vw;
    }

    .operation-date h3 {
        font-size: 1.2vw;
    }

    /* MODALS  */
    .form-operation {
        row-gap: 3vw;
        width: 90%;
    }

    .form-op-body {
        row-gap: 3vw;
        grid-template-areas:
        "type type"
        "date date"
        "amount amount"
        "account account"
        "accountTr accountTr"
        "categorie categorie"
        "s-categorie s-categorie";
    }

    legend {
        font-size: 2.5vw;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding: 0.5rem;
    }

    .main-conatainer {
        display: grid;
        grid-template-areas: 
            "widget"
            "statistic"
            "operation"
            "empty";
        grid-template-rows: 180px 250px 1fr 20vw;
        grid-template-columns: 1fr;
        row-gap: 3vw;
        transition: filter 0.3s ease;
    }

    .empty {
        grid-area: empty;
        display: block;
        width: 100%;
        height: 100%;
    }

    .main-widgets {
        display: grid;
        grid-area: widget;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5vw;
        height: 100%;
    }

    .widget {
        border-radius: 10px;
        display: grid;
        height: 3fr;
        grid-template-areas: 
            "top" 
            "middle"
            "bottom";
        grid-template-columns: 1fr;
        grid-template-rows: 3fr, repeat(2, 2fr);
        row-gap: 1vw;
        padding: 2vw;
        min-height: 100%;
    }

    .widget-title {
        font-size: 3.5vw;
    }
    
    .widget-middle {
        font-size: 3.5vw;
    }
    
    .widget-circle {
        height: 3.5vw;
        font-size: 1.75vw;
        padding: 0.6vw;
    }
    
    .widget-secondary-amount {
        font-size: 2.25vw;
    }

    .main-statistic {
        display: grid;
        grid-area: statistic;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr;
        row-gap: 3vw;
        height: 100%;
    }

    .accounts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-auto-rows: 100px;
        gap: 1vw;
        padding: 1.8vw 1.5vw;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .account {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: #e2e2e2 1px 1px 20px 1px;
        border-radius: 15px;
        padding: 1.75vw;
        transition: 500ms;
        cursor: pointer;
    }

    .account-img {
        width: 7vw;
        height: 7vw;
        border-radius: 5px;
    }

    .account-title {
        font-size: 3.75vw;
    }
    
    .account-amount {
        font-size: 3.75vw;
    }

    .selected .account-amount {
        font-size: 4vw;
        transition: 500ms;
    }

    .account:hover .account-amount {
        font-size: 4vw;
    }

    .add-account {
        height: 100%;
        border-radius: 15px;
        padding: 1.75vw;
    }

    .add-account div {
        width: 6vw;
        height: 6vw;
        font-size: 3.5vw;
    }
    
    .add-account span {
        font-size: 4vw;
    }

    .context-menu_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.5vw;
        height: 12.5vw;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        margin-bottom: 5px;
        color: #fff;
        transition: 500ms;
        margin-right: 1.5vw;
    }

    .context-menu_circle svg{
        font-size: 4vw;
    }

    .total-subcontainer:hover {
        border-radius: 10px;
    }

    .total-title {
        font-size: 2.5vw;
    }

    .total-subtitle {
        font-size: 2.5vw;
    }
    
    .total-amount {
        font-size: 2.75vw;
    }
    
    .operations-title h2 {
        font-size: 3.5vw;
    }

    .operation-add {
        width: 170px;
        margin-right: 2%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3.5vw;
        padding: 10px;
    }
    
    .operation-add div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #377cf6;
        transition: 300ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .operation-date h3 {
        font-size: 3vw;
    }

    .operation-item {   
        padding: 1vw;
        box-shadow: #e2e2e2 1px 1px 20px 1px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        grid-template-areas: 
        "image categorie categorie amount buttons"
        "image account dest_account time buttons";
        grid-template-columns: 15% 25% 20% 25% 15%;
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 5px;
        transition: 500ms;
    }

    .operation-item_circle {
        grid-area: image;
        width: 9vw;
        height: 9vw;
    }
    
    .operation-item_type {
        display: none;
        font-size: 3vw;
    }

    .operation-item_categorie {
        grid-area: categorie;
        font-size: 3.5vw;
    }
    
    .operation-item_account {
        grid-area: account;
        font-size: 3vw;
    }
    
    .operation-item_dest-account {
        grid-area: dest_account;
        font-size: 3vw;
    }
    
    .operation-item_time {
        grid-area: time;
        font-size: 3vw;
    }
    
    .operation-item_amount {
        grid-area: amount;
        font-size: 3.5vw;
    }
    
    .btn-action {
        grid-area: buttons;
        font-size: 3.5vw;
    }

    /* MODALS  */
    .overlay {
        left: 0;
        top: 0;
        width: 100%;
    }

    .form-account {
        display: grid;
        row-gap: 30px;
        grid-template-areas: 
        "title"
        "body"
        "buttons";
        position: relative;
        width: 90%;
    }

    .form-title {
        display: block;
        font-size: 5vw;
        grid-area: title;
        margin-top: 1rem;
    }

    .form-body {
        grid-template-areas:
        "type type"
        "name name"
        "amount amount"
        "color color";
        gap: 0;
        grid-template-rows: repeat(4, 1fr);
    }

    .form-container {
        flex-direction: column;
        gap: 0;
        margin-bottom: 20px;
    }

    .form-label {
        float: left; 
        width: 100%; 
        font-weight: 600;
        margin-bottom: 5%;
    }
    
    .form-input, .form-select {
        width: 100%;
        height: 40px;
    }

    .acc-amount label {
        width: 100%;
    }
    
    .acc-amount input {
        width: 100%;
    }

    .acc-color label {
        width: 100%;
    }
    
    .acc-color input {
        width: 100%;
    }

    input[type=color]::-webkit-color-swatch {
        border-radius: 10px;
        border: none;
    }
    input[type=color]::-moz-color-swatch {
        border-radius: 10px;
        border: none;
    }

    .form-op-body {
        row-gap: 0;;
    }

    legend {
        font-size: 4vw;
    }

    .op-amount label {
        width: 100%;
    }
    
    .op-amount input {
        width: 100%;
    }
    
    .op-date label {
        width: 100%;
    }

    .op-date input {
        width: 100%;
        -webkit-appearance: none; /* Remove default styling in Safari */
        appearance: none;
    }

    .op-cat-radio label, .op-s-cat-radio label {
        width: 10vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .op-cat-radio span, .op-s-cat-radio span {
        font-size: 2.5vw;
    }

    .form-buttons {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .form-btn {
        width: 100%;
        max-width: 100%;
        height: 2.5rem;
    }

    .btn-annul {
        margin-bottom: 1rem;
    }
    .btn-submit {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 320px) {
    .form-body {
        width: 100%;
        max-width: 260px;
    }

    .form-op-body {
        width: 100%;
        max-width: 260px;
    }
}