.hidden {
    display: none !important;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.bold {
    display: block;
    font-weight: 700;
    margin-top: 0.5vw;
}

.savings-container{
    display: grid;
    grid-template-areas: 
    "simulator savings"
    "form statistic"
    "table table";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1vw;
}

.simulator-title {
    grid-area: simulator;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;;
    font-size: clamp(12px, 1.2vw, 22px);
}
.simulator-title:hover {
    font-weight: 500;
    transition: 500ms ease-in-out;
}

.savings-balance {
    grid-area: savings;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    font-size: clamp(12px, 1.2vw, 22px);
}

.savings-total {
    transition: 500ms ease-in-out;
}
.savings-balance:hover .savings-total {
    font-weight: 700;
    transition: 500ms ease-in-out;
}

.form {
    width: 100%;
    grid-area: form;
    padding: 1.5vw;
}

fieldset {
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    transition: 500ms;
}

legend {
    display: flex;
    align-items: center;
    margin-left: 2%;
    position: relative;
    font-size: clamp(14px, 1.3vw, 18px);
}

.info-btn {
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #d0d0d0;
    color: #000;
    font-size: 8px;
}
.info svg {
    align-self: center;
    margin: auto; 
}
.info-btn:hover .info-text{
    visibility: visible;
    transition: all 0.2s ease-in;
}

.info-text {
    position: absolute;
    top: -30%;
    left: 100%;
    width: max-content;
    height: auto;
    font-size: clamp(10px, 1vw, 14px);
    padding: 7.5px;
    border-radius: 10px;
    background-color: #d0d0d0;
    margin-left: 5px;
    visibility: hidden;
    transition: all 0.2s ease-in;
}
.info-text::before {
    content: "";
    position: inherit;
    left: -15px;
    top: 17.5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #d0d0d0;
}

.simple {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.double {
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    gap: 5%;
}

.line-input {
    display: flex;
    justify-content: space-between;
}

label {
    float: left; 
    width: 40%;
    margin-bottom: 5px;
    margin: auto 0;
    font-size: clamp(10px, 1vw, 16px);
    text-align: center;
}

input, select {
    border-radius: 10px;
    border: none;
    width: 60%;
    height: 100%;
    min-height: 40px;
    padding: 0 1rem;
    font-size: clamp(10px, 1vw, 16px);
    font-weight: 600;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    transition: 500ms;
}

select {
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/caret-down-light.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 2%) center;
}

.statistic {
    width: 100%;
    grid-area: statistic;
    display: grid;
    grid-template-areas: 
    "total contribution interest"
    "chart chart chart";
    grid-template-rows: 15% 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1.5vw;
}

.statistic .block {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#total, #totalContributions, #totalInterests {
    margin: 0 auto;
    text-align: center;
    font-size: clamp(16px, 1.2vw, 22px);
}

#chart {
    width: 100%;
    height: 17vw;
    grid-area: chart;
    margin: auto;
    align-self: baseline;
}


.table {
    width: 100%;
    grid-area: table;
    padding: 2vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: solid 1px transparent;
    overflow: hidden;
    font-size: clamp(12px, 1vw, 18px);
}

tr {
    border-bottom: 1px solid #d0d0d0;
    border-top: none;
    height: 3.5rem;
    transition: 200ms;
}
tr:nth-of-type(even) {
    background-color: #f9f9fd;
}
tr:last-of-type {
    border-top: 2px solid #000;
    border-bottom: none;
    font-weight: 700;
    background-color: #f9f9fd;
}
tr:first-of-type {
    border-top: none;
}
tr:hover {
    background-color: #e2e2e2;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    transition: 200ms ;
}

th {
    border-top: none;
    border-bottom: 2px solid #000;
    background-color: #f9f9fd;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    border: none;
    padding: 1rem;
    min-width: 20%;
    border-radius: 10px;
    cursor: pointer;
    opacity: 80%;
    transition: 200ms ease-in-out;
    font-size: clamp(10px, 1vw, 16px);
    color: #fff;
}
button:hover {
    opacity: 100%;
    transition: 200ms ease-in-out;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
}

button[type=reset] {
    background-color: #e2e2e2;
    color: #000;
}
button[type=submit] {
    background-color: #377cf6;
}

@media screen and (max-width: 1920px) {
    .savings-container{
        grid-template-columns: 2fr 3fr;
    }

    .line-input {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
    }

    label {
        float: none;
        width: 100%;
        text-align: start;
        padding-left: 1rem;
    }
    
    input, select {
        width: 100%;
    }

    button {
        min-width: 25%;
    }
    
    #chart {
        height: 20vw;
    }
}

@media screen and (max-width: 1600px) {
    button {
        min-width: 30%;
    }
}

@media screen and (max-width: 1150px) {
    .savings-container{
        grid-template-areas: 
        "simulator savings"
        "form form"
        "statistic statistic"
        "table table";
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .simulator-title, .savings-balance {
        font-size: clamp(14px, 1.2vw, 18px);
    }

    fieldset {
        padding: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .line-input {
        flex-direction: row;
    }
    
    label {
        float: left; 
        width: 50%;
        margin-bottom: 5px;
        margin: auto 0;
        font-size: clamp(14px, 1.3vw, 16px);
        text-align: center;
    }
    
    input, select {
        border-radius: 10px;
        border: none;
        width: 50%;
        height: 100%;
        min-height: 40px;
        padding: 0 1rem;
        font-size: clamp(12px, 1.3vw, 16px);
        font-weight: 600;
        box-shadow: #e2e2e2 1px 1px 20px 1px;
        transition: 500ms;
    }

    .info-text {
        font-size: clamp(10px, 1.2vw, 14px);
    }

    button {
        min-width: 20%;
        font-size: clamp(10px, 2vw, 16px);
    }

    .statistic {
        grid-template-rows: 20% 1fr;
    }

    #chart {
        height: 30vw;
    }

    table {
        font-size: clamp(14px, 1.2vw, 18px);
    }
}

@media screen and (max-width: 950px) {
    fieldset {
        padding: 1rem;
        margin-bottom: 1.2rem;
    }

    .line-input {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
    }

    legend {
        font-size: clamp(16px, 1.2vw, 16px);
    }

    label {
        float: none;
        width: 100%;
        text-align: start;
        padding-left: 1rem;
        font-size: clamp(14px, 1.2vw, 16px);
    }
    
    input, select {
        width: 100%;
        font-size: clamp(16px, 1.2vw, 20px);
    }

    button {
        min-width: 25%;
        padding: 0.75rem;
    }
}

@media screen and (max-width: 768px) {
    .savings-container{
        gap: 1rem;
    }

    fieldset {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    table {
        font-size: clamp(12px, 1.2vw, 18px);
    }
}

@media screen and (max-width: 450px) {
    main {
        padding: 0.5rem;
    }

    .savings-container{
        width: 100%;
        grid-template-areas: 
        "simulator savings"
        "form form"
        "statistic statistic"
        "table table"
        "empty empty";
    }

    .empty {
        grid-area: empty;
        display: block;
        width: 100%;
        height: 15vw;
    }
    
    .form {
        padding: 0.75rem;
    }

    input, select {
        width: 100%;
        font-size: clamp(14px, 1.2vw, 20px);
    }
    
    button {
        min-width: 30%;
        padding: 0.75rem;
        font-size: clamp(12px, 1.2vw, 16px);
    }

    .statistic {
        grid-template-rows: 15% 1fr;
    }

    #chart {
        height: 70vw;
    }

    #total, #totalContributions, #totalInterests {
        margin: 0 auto;
        text-align: center;
        font-size: clamp(12px, 1.2vw, 22px);
    }

    #table {
        overflow-x: auto; /* Enables horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }

    table {
        width: max-content; /* Ensures the table is wider than the screen */
        display: block;
        white-space: nowrap; /* Prevents content from wrapping */
    }
    td, th {
        min-width: 100px; /* Ensures each cell is at least 100px wide */
    }
}