.diagram {
    padding: 30px;
    font-size: 42px;
}

.main-conatainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "charts"
        "line-chart";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 30px;
    transition: filter 0.3s ease;
}

.charts {
    grid-area: charts;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "pie-chart bar-chart";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    grid-row: 1fr;
}