.diagram {
    padding: 30px;
    width: 1fr;
    height: 1fr;
}

.main-conatainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "charts"
        "line-chart";
    grid-template-rows: repeat(2, 21.5vw);
    grid-template-columns: 1fr;
    gap: 30px;
    transition: filter 0.3s ease;
}

.charts {
    grid-area: charts;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "doughnut-chart bar-chart";
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-row: 1fr;
}

.doughnut-chart {
    grid-area: doughnut-chart;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "chart-title chart-title" 
    "chart-body chart-legend"
    "switchers switchers"
    "chart-btn chart-btn";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.5fr 10fr 1fr 1fr;
    row-gap: 0.5vw;
}

.statistic-title {
    grid-area: chart-title;
    align-self: center;
    justify-self: center;
    font-size: 1vw;
}

#curveDonutDepenses {
    grid-area: chart-body;
    display: block;
    margin: auto;
    max-width: 12.5vw; /* Important to be adaptive don't change */
    max-height: 12.5vw; /* Important to be adaptive don't change */
}

#custom-legend {
    grid-area: chart-legend;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend-item {
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 0.75vw;
    padding: 0.25vw 0;
    width: fit-content;
}

.legend-item_box {
    width: 0.75vw;
    height: 0.75vw;
    margin-right: 0.5vw;
    border-radius: 50%;
}

.statistic-button-container {
    grid-area: chart-btn;
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.statistic-btn {
    margin: 0;
    padding: 5px 10px;
    width: 6.5vw;
    font-size: 0.6vw;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: #e2e2e2 1px 1px 20px 1px;
    transition: 500ms;
    cursor: pointer;
}

.statistic-btn:hover {
    box-shadow: #d0d0d0 3px 3px 15px 3px;
    transition: 500ms;
}

.switchers {
    grid-area: switchers;
}
